title = current_page.data.title + " | noraj" || "noraj"

meta charset="utf-8"
meta name="description" content="noraj hacker webpage"
meta name="keywords" content="noraj cyber cybersecurity hack hacking ctf challenges presentations publications tools floss website cve security information defense cyberdefense engineer"
meta name="author" content="Alexandre ZANNI"
meta name="viewport" content="width=device-width, initial-scale=1"

= favicon_tag "images/favicon.ico"

= stylesheet_link_tag :bulmaswatch
= stylesheet_link_tag :'bulma-tooltip.min'
= stylesheet_link_tag :site
link href="/stylesheets/fontawesome/css/all.min.css" rel="stylesheet"
= javascript_include_tag :tabs
= javascript_include_tag :navbar
= javascript_include_tag :panelTabs
/ Counter Analytics
script src="https://cdn.counter.dev/script.js" data-id="a01e4878-0231-4841-835a-511a5172e742" data-utcoffset="1"
/javascript:
  if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"noraj",utcoffset:"2"}))};sessionStorage.setItem("_swa","1");
