---
layout: "layout"
title: Bugs
---
/ Fix for fixed navbar because there is only is-fullheight-with-navbar
/ https:github.com/jgthms/bulma/issues/3205
section.hero
  .hero-body

h1.title.is-1.has-text-centered#bugs Bugs

- data.bugs.bugs.each do |bug|
  .notification
    .columns
      .column
        - bug.id.each do |id|
          a.button.is-danger.is-outlined.is-small href=bug.advisory target='_blank' rel='noopener noreferrer'
            = id
      .column.is-four-fifths #{bug.title}
      .column
        .tags
          - bug.tags.each do |tag|
            span(class="tag is-#{tag.color}")
              = tag.label

