---
layout: "layout"
title: Challenges
---
/ Fix for fixed navbar because there is only is-fullheight-with-navbar
/ https://github.com/jgthms/bulma/issues/3205
section.hero
  .hero-body

h1.title.is-1.has-text-centered#challenges Challenges platforms

.columns.is-multiline
  - data.challenges.platforms.each do |pltf|
    .column.is-one-quarter
      .card
        .card-content
          .media
            .media-left
              figure.image.is-48x48
                img src=pltf.picture alt=pltf.title
            .media-content
              p.title.is-4 = pltf.title
              p.subtitle.is-6 @noraj
          .content
            p= pltf.description
          - if pltf.script
            script(src="#{pltf.script}")
        footer.card-footer
          a.card-footer-item href=pltf.profile target='_blank' rel='noopener noreferrer' Profile
