---
layout: "layout"
title: Profiles
---
/ Fix for fixed navbar because there is only is-fullheight-with-navbar
/ https://github.com/jgthms/bulma/issues/3205
section.hero
  .hero-body

h1.title.is-1.has-text-centered#profiles Profiles

.columns.is-centered
  .column.is-narrow.has-text-centered
    p
      span.has-text-weight-semibold.has-text-primary noraj
      |  is my CTF and hacker pseudo.
    p I'm a Cybersecurity engineer, security auditor, pentester and ethical hacker.
    p 
      | Also I'm a maintainer of 
      a.has-text-weight-semibold.has-text-primary href=data.profiles.blackarch.website target='_blank' rel='noopener noreferrer' BlackArch
      |  Linux.
    p 
      | I'm 
      a.has-text-weight-semibold.has-text-primary href='https://www.offensive-security.com/pwk-oscp/' target='_blank' rel='noopener noreferrer' OSCP
      |  & 
      a.has-text-weight-semibold.has-text-primary href='https://www.offensive-security.com/awae-oswe/' target='_blank' rel='noopener noreferrer' OSWE
      |  certified.
    hr
    p You can find here some of my profiles:
    br
    p.has-text-weight-semibold.has-text-primary Social networks
    p.buttons.is-centered
      a.button href=data.profiles.twitter target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-twitter
        span Twitter /
        span.icon.has-text-primary
          i.fab.fa-x-twitter
        span X
    p.has-text-weight-semibold.has-text-primary Code sharing
    p.buttons.is-centered
      a.button href=data.profiles.github target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-github
        span GitHub
      a.button href=data.profiles.gitlab target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-gitlab
        span GitLab
    p.has-text-weight-semibold.has-text-primary Video platforms
    p.buttons.is-centered
      a.button href=data.profiles.youtube target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-youtube
        span YouTube
      a.button href=data.profiles.odysee target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-odysee
        span Odysee
      a.button href=data.profiles.playeur target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-video
        span Playeur
    p.has-text-weight-semibold.has-text-primary Exploits
    p.buttons.is-centered
      a.button href=data.profiles.edb target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-bug
        span Exploit-DB
      a.button href=data.profiles.packetstorm target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-bolt
        span Packet Storm
      a.button href=data.profiles.cxsecurity target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-fire
        span CXSECURITY
    p.has-text-weight-semibold.has-text-primary BlackArch
    p.buttons.is-centered
      a.button href=data.profiles.blackarch.commits target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-git-alt
        span Commits
      a.button href=data.profiles.blackarch.prs target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-git-alt
        span Pull Requests
      a.button href=data.profiles.blackarch.issues target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-git-alt
        span Issues
    p.has-text-weight-semibold.has-text-primary ArchLinux
    p.buttons.is-centered
      a.button href=data.profiles.archlinux.wiki_profile target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-linux
        span Wiki Profile
      a.button href=data.profiles.archlinux.wiki_contribs target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-linux
        span Wiki Contributions
      a.button href=data.profiles.archlinux.gitlab_profile target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-linux
        span Gitlab Profile
      a.button href=data.profiles.archlinux.aur_profile target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-linux
        span AUR profile
      a.button href=data.profiles.archlinux.aur_packages target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-linux
        span AUR packages
    p.has-text-weight-semibold.has-text-primary Miscellaneous
    p.buttons.is-centered
      a.button href=data.profiles.stackexchange target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-stack-exchange
        span StackExchange
      a.button href=data.profiles.keybase target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-keybase
        span Keybase
      a.button href=data.profiles.attackerkb target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-bomb
        span AttackerKB
      a.button href=data.profiles.alternativeto target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-robot
        span AlternativeTo
      a.button href=data.profiles.ctftime target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-flag
        span CTFTime
      a.button href=data.profiles.artstation target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-artstation
        span ArtStation
    script(type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js')
    javascript:
      kofiwidget2.init('Support Me on Ko-fi', '#4e5d6c', 'N4N837PBF');
      kofiwidget2.draw();
