---
layout: "layout"
title: Publications
---
/ Fix for fixed navbar because there is only is-fullheight-with-navbar
/ https://github.com/jgthms/bulma/issues/3205
section.hero
  .hero-body

h1.title.is-1.has-text-centered#external-articles External articles

.columns
  .column.is-half
    - data.publications.external_articles.each_with_index do |article, i|
      - if i % 2 == 0
        article.media
          figure.media-left
            p.image.is-128x128
              - if article.thumbnail
                img src=article.thumbnail
              - else
                span.icon.is-large
                  i.fas.fa-newspaper.fa-3x
          .media-content
            .content
              p.has-text-weight-bold = article.title + " (#{article.year})"
              p = article.description
            nav.level.is-mobile
              .level-left
                - article.company.each_with_index do |company, i|
                  a.level-item href=article.article[i] target='_blank' rel='noopener'
                    span.is-small = article.lang[i] + " #{company}"
  .column.is-half
    - data.publications.external_articles.each_with_index do |article, i|
      - if i % 2 == 1
        article.media
          figure.media-left
            p.image.is-128x128
              - if article.thumbnail
                img src=article.thumbnail
              - else
                span.icon.is-large
                  i.fas.fa-newspaper.fa-3x
          .media-content
            .content
              p.has-text-weight-bold = article.title + " (#{article.year})"
              p = article.description
            nav.level.is-mobile
              .level-left
                - article.company.each_with_index do |company, i|
                  a.level-item href=article.article[i] target='_blank' rel='noopener'
                    span.is-small = article.lang[i] + " #{company}"

/.columns.is-multiline
  - data.publications.external_articles.each do |article|
    .column.is-one-quarter
      .card
        header.card-header
          p.card-header-title = article.title + " (#{article.year}) " + " [#{article.lang.join(',')}]"
          a.card-header-icon href="#"
            span.icon
              i.fas.fa-newspaper aria-hidden="true"
        .card-image
          figure.image
            img src=article.thumbnail alt=article.title
        .card-content
          .content = article.description
        - article.company.each_with_index do |company, i|
          footer.card-footer
            a.card-footer-item href=article.article[i] target='_blank' rel='noopener noreferrer' Article [#{article.lang[i]}] (#{company})

h1.title.is-1.has-text-centered#internal-articles Internal articles

.columns
  .column
    article.panel
      p.panel-heading
        | Articles & Write-ups
      .panel-tabs
        a.is-active(data-target="security") Security
        a(data-target="linux") Linux
      .panel-block
        | Featured articles from blog.raw.pm
      - for article in data.publications.internal_articles.security do
        a.panel-block data-category="security" href=article.link target='_blank' rel='noopener noreferrer'
          span.panel-icon.has-text-primary
            i.far.fa-newspaper aria-hidden="true"
          | #{article.title}
      - for article in data.publications.internal_articles.linux do
        a.panel-block data-category="linux" href=article.link target='_blank' rel='noopener noreferrer'
          span.panel-icon.has-text-primary
            i.far.fa-newspaper aria-hidden="true"
          | #{article.title}

h1.title.is-1.has-text-centered#presentations Presentations

.columns
  .column.is-half
    - data.publications.presentations.each_with_index do |prez, i|
      - if i % 2 == 0
        prez.media
          figure.media-left
            p.image.is-128x128
              - if prez.thumbnail
                img src=prez.thumbnail
              - else
                span.icon.is-large
                  i.fas.fa-tv.fa-3x
          .media-content
            .content
              p.has-text-weight-bold = prez.title + " (#{prez.year}) #{prez.lang}"
              p = prez.description
            nav.level.is-mobile
              .level-left
                - prez.cards.each do |card|
                  a.level-item href=card.link target='_blank' rel='noopener'
                    span.icon.is-small
                      - if card.label == "Slideshow"
                        i.fas.fa-tv
                      - if card.label == "Source"
                        i.fab.fa-git-alt
                      - if card.label == "ZIP"
                        i.fas.fa-file-zipper
                      - if card.label == "PDF"
                        i.fas.fa-file-pdf
                      - if card.label == "Video"
                        i.fas.fa-file-video
                    span.is-small = "\u2009#{card.label}"
  .column.is-half
    - data.publications.presentations.each_with_index do |prez, i|
      - if i % 2 == 1
        prez.media
          figure.media-left
            p.image.is-128x128
              - if prez.thumbnail
                img src=prez.thumbnail
              - else
                span.icon.is-large
                  i.fas.fa-newspaper.fa-3x
          .media-content
            .content
              p.has-text-weight-bold = prez.title + " (#{prez.year}) #{prez.lang}"
              p = prez.description
            nav.level.is-mobile
              .level-left
                - prez.cards.each do |card|
                  a.level-item href=card.link target='_blank' rel='noopener'
                    span.icon.is-small
                      - if card.label == "Slideshow"
                        i.fas.fa-tv
                      - if card.label == "Source"
                        i.fab.fa-git-alt
                      - if card.label == "ZIP"
                        i.fas.fa-file-zipper
                      - if card.label == "PDF"
                        i.fas.fa-file-pdf
                      - if card.label == "Video"
                        i.fas.fa-file-video
                    span.is-small = "\u2009#{card.label}"

/ .columns.is-multiline
  - data.publications.presentations.each do |prez|
    .column.is-one-third
      .card
        header.card-header
          p.card-header-title = prez.title + " (#{prez.year}) " + " [#{prez.lang}]"
          a.card-header-icon href="#"
            span.icon
              i.fas.fa-tv aria-hidden="true"
        .card-image
          figure.image
            img src=prez.thumbnail alt=prez.title
        .card-content
          .content = prez.description
        footer.card-footer
          - prez.cards.each do |card|
            a.card-footer-item href=card.link target='_blank' rel='noopener noreferrer'
              = card.label

