---
layout: "layout"
title: Streams
---
/ Fix for fixed navbar because there is only is-fullheight-with-navbar
/ https://github.com/jgthms/bulma/issues/3205
section.hero
  .hero-body

h1.title.is-1.has-text-centered#podcasts Podcasts

.columns.is-centered
  .column.has-text-centered
    - sh = data.streams.podcasts.service_hacktion
    h4.title.is-4.has-text-centered.has-text-primary #{sh.name} #{sh.lang}
    p.buttons.is-centered
      a.button href=sh.spotify target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-spotify
        span Spotify
      a.button href=sh.deezer target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-deezer
        span Deezer
      a.button href=sh.youtube target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-youtube
        span Youtube
      a.button href=sh.youtube_music target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-youtube
        span Youtube Music
      a.button href=sh.amazon_music target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-amazon
        span Amazon Music
      a.button href=sh.apple_podcast target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-apple
        span Apple Podcast
      a.button href=sh.podcast_index target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span Podcast Index
      a.button href=sh.podcloud target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span podCloud
      a.button href=sh.podchaser target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span Podchaser
      a.button href=sh.podtail target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span podtail
      a.button href=sh.podcast_francais target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span Podcast Français
      a.button href=sh.vodio target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span Vodio
      a.button href=sh.spreaker target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span Spreaker
      a.button href=sh.podcast_france target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span Podcast France
      a.button href=sh.podcast_addict target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-podcast
        span Podcast Addict

.columns
  .column
    article.panel
      p.panel-heading
        | #{sh.name} #{sh.lang}
      .panel-tabs
        - for season in sh.saisons
          - snum = "%02d" % season.number
          a.is-active data-target="s#{snum}" S#{snum}
      - for season in sh.saisons
        - for episode in (sh.saisons[season.number - 1].episodes).reverse do
          .panel-block data-category="s#{"%02d" % season.number}"
            a.panel-icon.has-text-primary href=episode.notes target='_blank' rel='noopener noreferrer'
              i.far.fa-note-sticky aria-hidden="true"
            .columns.is-vcentered.no-flex
              .column
                span E#{"%02d" % episode.number} - #{episode.title}
              .column.is-one-third
                a.icon.has-tooltip-arrow data-tooltip="Spotify" href=episode.spotify target='_blank' rel='noopener noreferrer'
                  i.fab.fa-spotify
                a.icon.has-tooltip-arrow data-tooltip="Deezer" href=episode.deezer target='_blank' rel='noopener noreferrer'
                  i.fab.fa-deezer
                a.icon.has-tooltip-arrow data-tooltip="Youtube" href=episode.youtube target='_blank' rel='noopener noreferrer'
                  i.fab.fa-youtube
                a.icon.has-tooltip-arrow data-tooltip="Youtube Music" href=episode.youtube_music target='_blank' rel='noopener noreferrer'
                  i.fab.fa-youtube
                a.icon.has-tooltip-arrow data-tooltip="Amazon Music" href=episode.amazon_music target='_blank' rel='noopener noreferrer'
                  i.fab.fa-amazon
                a.icon.has-tooltip-arrow data-tooltip="Apple Podcast" href=episode.apple_podcast target='_blank' rel='noopener noreferrer'
                  i.fab.fa-apple
                a.icon.has-tooltip-arrow data-tooltip="Podcast Index" href=episode.podcast_index target='_blank' rel='noopener noreferrer'
                  i.fas.fa-podcast
                a.icon.has-tooltip-arrow data-tooltip="podCloud" href=episode.podcloud target='_blank' rel='noopener noreferrer'
                  i.fas.fa-podcast
                a.icon.has-tooltip-arrow data-tooltip="Podchaser" href=episode.podchaser target='_blank' rel='noopener noreferrer'
                  i.fas.fa-podcast
                a.icon.has-tooltip-arrow data-tooltip="podtail" href=episode.podtail target='_blank' rel='noopener noreferrer'
                  i.fas.fa-podcast
                a.icon.has-tooltip-arrow data-tooltip="Podcast Français" href=episode.podcast_francais target='_blank' rel='noopener noreferrer'
                  i.fas.fa-podcast
                a.icon.has-tooltip-arrow data-tooltip="Vodio" href=episode.vodio target='_blank' rel='noopener noreferrer'
                  i.fas.fa-podcast
                a.icon.has-tooltip-arrow data-tooltip="Spreaker" href=episode.spreaker target='_blank' rel='noopener noreferrer'
                  i.fas.fa-podcast

h1.title.is-1.has-text-centered#videos Videos

.columns.is-centered
  .column.has-text-centered
    p.buttons.is-centered
      a.button href=data.profiles.youtube target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-youtube
        span YouTube
      a.button href=data.profiles.odysee target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fab.fa-odysee
        span Odysee
      a.button href=data.profiles.playeur target='_blank' rel='noopener noreferrer'
        span.icon.has-text-primary
          i.fas.fa-video
        span Playeur

.columns.is-multiline
  - for video in (data.streams.videos).reverse
    .column.is-one-quarter
      .card
        /.card-header
          .card-header-title
            | #{video.title}
        .card-image.has-background-black
          figure.image
            = image_tag "https://img.youtube.com/vi/#{video.youtube_id}/mqdefault.jpg"
        .card-content
          span #{video.title}
        footer.card-footer
          a.card-footer-item.has-tooltip-arrow data-tooltip="YouTube" href="https://www.youtube.com/watch?v=#{video.youtube_id}"
            span.icon
              i.fab.fa-youtube
          a.card-footer-item.has-tooltip-arrow data-tooltip="Odysee" href=video.odysee
            span.icon
              i.fab.fa-odysee
          a.card-footer-item.has-tooltip-arrow data-tooltip="Playeur" href=video.playeur
            span.icon
              i.fas.fa-video

