---
layout: "full"
title: Websites
---
/ Fix for fixed navbar because there is only is-fullheight-with-navbar
/ https://github.com/jgthms/bulma/issues/3205
section.hero
  .hero-body

section.hero
  .hero-body
    .container.has-text-centered
      h1.title.is-1#websites Websites
      h1.subtitle The websites I developed.

- data.websites.each_with_index do |ws, i|
  - bg = i.even? ? 'is-dark' : 'is-darker'
  section(class="hero #{bg}")
    .hero-body
      .container
        h1.title = ws.name
        .content
          blockquote = ws.description
        a href=ws.link target='_blank' rel='noopener noreferrer'
          .columns
            .column.is-half
              .iframe-container
                iframe.iframe-1080 src=ws.iframe1
            .column.is-half
              .iframe-container
                iframe.iframe-1080 src=ws.iframe2
